[include]
  path = ~/.config/git/configs/config.main

[includeIf "gitdir:/path/to/git/project/**.git"]
  path = ~/.config/git/configs/config.projectName

[alias]
  st = status --short --branch
  ci = commit -v
  cim = commit -v -m
  ca = commit -v --amend
  cane = commit -v --amend --no-edit
  co = checkout
  br = branch
  last = log -1 HEAD

[gpg]
  program = gpg

[url "git@github.com:"]
  insteadOf = https://github.com/

[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/

# Optional
[commit]
  gpgsign = true
